<!DOCTYPE html>
<html lang="en">
	<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <script>
      // You may want to place these lines inside an onload handler
      CFInstall.check({
        mode: "overlay",
        destination: "http://www.waikiki.com"
      });
    </script>

    <meta charset="utf-8">
		<title>{% if page.title %} {{ page.title }} | {% endif %} Daniel Vizzini</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="description" content="{{ page.title }}">
		<meta name="author" content="Daniel Vizzini">

		<!-- Le styles -->
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="bootstrap/css/bootstrap-meals.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/vizzini-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/vizzini-114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/vizzini-72.png">
		<link rel="apple-touch-icon-precomposed" href="ico/vizzini-57.png">

		<!-- page-specific style -->
		{% for cssFile in page.cssFiles %}

		<link type="text/css" rel="stylesheet" href="css/{{ cssFile }}"/>

		{% endfor %}

		<style type="text/css">

			body {
				color: #000;
			}
			
			b > a {
				color: #000;
			}
			
			a:hover {
				text-decoration: none;
			}

		</style>

	</head>

	<body>

		<!-- Navbar
		================================================== -->
		<div class="navbar navbar-inverse navbar-static-top">
			<div class="navbar-inner">
				<ul class="nav">
					<li>
						<a href="http://www.linkedin.com/pub/daniel-vizzini/a/618/a65">LinkedIn</a>
					</li>
					<li class="">
						<a href="https://twitter.com/vizzmaster">Twitter</a>
					</li>
					<li class="">
						<a href="https://github.com/dvizzini/">GitHub</a>
					</li>
					<li class="">
						<a href="mailto:dvizzini@gmail.com">Contact</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- Masthead
		================================================== -->
		<header class="jumbotron">
			<div class="row">
				<h1 class="span6"><a href="index.html">Daniel Vizzini</a></h1>
			</div>
			<div id="tagline">
				<p>
					Software Developer and Math Practitoiner
				</p>
			</div>
		</header>

		<script type="text/javascript">
			//not using jQuery because it's not available
			function formatTagline() {
				if(window.innerWidth < 768) {
					document.getElementById("tagline").innerHTML = "<p>Software Developer</p><p>Math Practitioner</p>"
				} else {
					document.getElementById("tagline").innerHTML = "<p>Software Developer and Math Practitioner</p>"
				}
			}

			formatTagline();
			window.onresize = formatTagline;
		</script>

		<div class="container">
      {% if page.ie_redirect %}
        <!--[if IE]>
          <script type="text/javascript">
            window.location.pathname = "{{page.ie_redirect}}";
          </script>
        <![endif]-->
      {% endif %}
      
      {{ content }}
  	  
      {% if page.github %}
	  		<div class="row">
		  		<p>
			  		&copy; Daniel Vizzini under MIT License. See the <a href="https://github.com/dvizzini/{{page.github}}">GitHub</a>.
			  	</p>
			  </div>
      {% endif %}
      <br />
		</div>
	</body>
</html>
